{% extends "base_navbar.html" %}

{% block title %}
Edit Song
{% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<script>
    alert("{{message}}")
</script>
    
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <h1 class="text-center">Edit Song</h1>

    {% for r in record %}
    <form class="container mt-4" action="/creator_edit_audio_upload?audio_id={{request.args.get('audio_id')}}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <select id="category" name="category" class="form-select w-50">
                    <option {% if(r[0] == 'Spritual') %} selected {% endif %}>Spritual</option>
                    <option {% if(r[0] == 'Marketing') %} selected {% endif %}>Marketing</option>
                    <option {% if(r[0] == 'Story') %} selected {% endif %}>Story</option>
                    <option {% if(r[0] == 'Social') %} selected {% endif %}>Social</option>
                    <option {% if(r[0] == 'Others') %} selected {% endif %}>Others</option>
                </select>
            </div>

            <div class="col-6">
                <input class="form-control" type="text" id="title" name="title" placeholder="Title">
            </div>
            
            <div class="col-6"><button class="btn btn-warning" type="submit">Update</button></div>
        </div>
    </form>
    {% endfor %}

</div>

{% endblock %}
