{% extends "base_navbar.html" %}

{% block title %}
Creator Dashboard
{% endblock title %}

{% block customCSS %}
<style>
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    background-color: #96D4D4;
    text-align: center;
}
</style>
{% endblock customCSS %}

{% block content %}
<main>
    <div>
        <p>Audio uploads by creator</p>
    </div>

    <div class="viewtable">
        <!-- Jinja for alerting user when regration is successful -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger mt-3">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        <table width="70%" align="center">
            <tr>
                <th>S.no.</th>
                <th>Id</th>
                <th>Category</th>
                <th>Play</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {% for row in rows %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td><audio controls><source src="/static/audioblog/{{row[2]}}" type="audio/wav"></audio></td>
                
                <td><a href="/creator_edit_audio?audio_id={{row[0]}}"><img src="/static/img/tools/edit.png" alt="Edit icon" width="40px"></a></td>
                
                <td><a href="/creator_delete_upload?audioupload_id={{row[0]}}"><img src="/static/img/tools/bin.png" alt="Delete icon" width="40px"></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>

<script>
    // JS code to fetch and play Audio
    // location is '/static/audioblog/name.mp3'
</script>
{% endblock %}
