{% extends "base_navbar.html" %}

{% block title %}
Songs
{% endblock title %}

{% block customCSS %}
<style>
    body {
        background-color: rgb(40, 40, 40);
    }
    main {
        display: flex;
        justify-content: center;
    }
    btn {

    }
</style>
{% endblock customCSS %}

{% block content %}
<main>
    <div class="container m-5 p-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <script>
            alert('{{message}}')
        </script>   
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="section searchSection text-white">
            <h2>Blogs</h2>
            <div class="mt-4 mb-4">
                <form class="d-flex" role="search" method="post" action="/user_search_song">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_term">
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
        
        <div class="section tableSection">
            <table class="table table-light table-hover">
                <thead>
                    <tr>
                        <th scope="col">S.no.</th>
                        <th scope="col">Category</th>
                        <th scope="col">Title</th>
                        <th scope="col">Play</th>
                        <th scope="col">Details</th>
                        <th scope="col">Playlist</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in record %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ r[1] }}</td>
                        <td>{{ r[2] }}</td>
                        <td>
                            <audio controls>
                            <source src="/static/audioblog/{{ r[3] }}" type="audio/wav">Your browser does not support the audio element.
                            </audio>
                        </td>
                        <td><a class="btn btn-warning" href="/user_song_view?audio_id={{ r[0] }}">View</a></td>
                        <td><a class="btn btn-warning" href="/user_add_playlist?audio_id={{ r[0] }}">Add</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
