{% extends "base_navbar.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<script>
    alert("{{message}}")
</script>
    
{% endfor %}
{% endif %}
{% endwith %}

        <div class="container pt-5">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <script>
            alert('{{message}}')
          </script>
              
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        

          <div>
            <p>Blogs</p>
            <div>
              <form class="d-flex" role="search" method="post" action="/user_search_blog">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_term">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        <div class="pt-5">
          <table class="table table-dark table-hover">
            <thead>
                <tr>
                  <th scope="col">S. no.</th>
                  <th scope="col">Category</th>
                  <th scope="col">Title</th>
                  <th scope="col">Play</th>
                  <th scope="col">Playlist</th>
                </tr>
              </thead>
              <tbody>
                {% for r in record %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{r[1]}}</td>
                  <td>{{r[2]}}</td>
                  <td>
                    <audio controls>
                    <source src="/static/audioblog/{{r[3]}}" type="audio/wav">
                    Your browser does not support the audio element.
                    </audio>
                  </td>
                  <td><button class="btn btn-warning">Playlist</button></td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        </div>

{% endblock %}
